body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: 'source sans pro', 'source code pro', sans-serif
}

header {
    background: #03899c;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    height: 100px;
    line-height: 15px
}

header h1 {
    margin-bottom: 0;
    letter-spacing: 1px;
}

header p {
    color: #dedede
}

nav {
    padding: 10px 0;
    display: block;
    
    overflow: hidden;
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    background-color: #555;
    box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333
}
ul{margin: auto auto;display: table; padding:0}
ul:after {
    content: '';
}

ul li {
    list-style: none;
    float: left;
}

ul li a {
    text-decoration: none;
    color: #eee;
    padding: 10px 25px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-right: 2px
}
a:hover {
    text-decoration: none;
}
a:focus {
    color: #fff;
    text-decoration: none;
}
ul li a:hover {
    background: #444;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

ul li a:active,
ul li a.current {
    border-radius: 5px;
    background: #444;
    box-shadow: inset 1px 1px 1px #333
}

#gallery {
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    min-height: 450px;
    padding: 15px 0 30px
}
#gallery h2 {
    font-weight: bold;
    text-indent: 5px
}
#gallery .container .gallery-container .project-holder {
    overflow: hidden;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    position: relative;
    /* border-radius: 5px; */
}

#gallery .container .gallery-container .project-holder .project-content {
    padding: 10px;
    background: linear-gradient(#bebebe,rgb(243, 243, 243), #d2d2d2);
    border: 1px solid #ccc;
    position: relative;
    border-top-color: transparent;
}
.project-holder .project-content:before, .project-holder .project-content:after {
    position: absolute;
    content: '';
    top: -4%;
    width: 4%;

    height: 10%;
    background-color: #ccc;


    z-index: -1;

}
.project-holder .project-content:before {
left: 0;
    transform: rotate(45deg);
    border-left: 1px solid #ccc;
}
.project-holder .project-content:after {
    right: 0;
    transform: rotate(-45deg);
    border-right: 1px solid #ccc;
}
.project-content a {
    width: 100%;
    padding: 8px;
    color: #eee;
    background-color: #0ebeff;
    display: block;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
.project-content a:before {

    position: absolute;
    width: 100%;
    padding: 8px;
    color: #fff;
    text-align: center;
    top: -100%;
    left: 0;
    font-weight: bold;
    transition: top .2s ease-in-out .15s;
    z-index: 10
}
.project-content a:first-of-type:before{
    content: 'view website ❖';
}
.project-content a:last-of-type:before{
    content: 'view project ❖';
}
.project-content a:after {
    content: '';
    position: absolute;

    height: 150px;
    background-color: #006bff;
    top: -75px;
    left: -150px;
    border-radius: 50%;
    width: 150px;
    transition: transform .25s ease;

}
.project-content a:hover:after {
    transform: scale(6);
}
.project-content a:hover:before {
    top: 0;
}
.gallery-container .project-holder .project-image {
    width: 96%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 300px;
    background-color: #ccc;
}
.gallery-container .project-holder .project-image.angular {
    background-image: url('http://findicons.com/files/icons/2773/pictonic_free/128/angularjs.png');
    background-position: center;
    background-repeat: no-repeat
}
.gallery-container .project-holder .project-image.wordpress {
    background-image: url('http://wordpressconversionservice.com/wp-content/uploads/2015/02/wordpress111.png');
    background-position: center;
    background-repeat: no-repeat
}

.gallery-container .project-holder .project-image .overlay {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%),linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), url(http://www.incomm.com/Style%20Library/Images/incomm-magnify.png);
    background-size: 40% 40%, 40% 40%, 40% 40%, 40% 40%, 50px 50px;
    background-position:-5% 0% , 105% 0%, -5% 100%, 105% 100%, center center;*/

    background:url(http://www.citycentremallbeirut.com/-/media/images/shared/search-store.png?h=50&w=50&la=en&hash=A39F39FD406DDA7BC37C3CD1113C80E469CABF97), linear-gradient(-30deg,rgba(7, 61, 64, 0.92),rgba(43, 5, 5, 0.92));
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    /* border-radius: 5px; */
    font-size: .8rem;
    opacity: 0;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    z-index: 4;
}
.project-image .status {
    position: absolute;
    top: 0;
    right: -35px;
    padding: 10px 40px;
    color: #fff;
    background-color: cadetblue;
    content: "For Sale";
    transform: rotate(45deg);
    background: linear-gradient(rgba(223, 22, 84, 0.6), rgba(223, 16, 55, 0.6));
    z-index: 5;
}
#gallery .container .gallery-container .project-holder:hover .project-image img {
    transition: transform .5s ease-in-out;
    transform: scale(1.35);
    -o-transform: scale(1.35);
-moz-transform: scale(1.35);

-webkit-transform: scale(1.35)

}
#gallery .container .gallery-container .project-holder:hover {
    box-shadow: 0 18px 5px -14px #999;
}
#gallery .container .gallery-container .project-holder:hover .overlay {
    top: 0%;
    opacity: 1
}

#gallery .container .gallery-container .project-holder:hover .overlay h3 {
    margin-top: 26px;
    margin-bottom: 20px
}


.overlay h3 {
    -webkit-transition: margin-top .25s ease-in .35s;
    transition: margin-top .25s ease-in .35s;
    margin-top: 60px;
    letter-spacing: 1px
}
.overlay h4 {
    color: #eee
}
.overlay button,.overlay a {
    /*background: rgba(255, 255, 255, 0.7) ;*/
    border: 1px solid #222;
    border-radius: 15px;
    background-color: rgba(34, 34, 34, 0.62);
    position: absolute;
    color: #eee;
    cursor: pointer;
    display: block;
    transition: background .25s ease;
    text-decoration: none;
    width: 105px;
    box-sizing: border-box;
    height: 35px;
    line-height: 25px;
    padding: 5px 10px;
}
.overlay a:nth-of-type(1) {
    left: calc(50% - 50px);
    bottom: calc(60% - 25px);

}
.overlay a:nth-of-type(2) {
    left: calc(50% - 50px);
    bottom: calc(40% - 30px);
}
.overlay button:hover,.overlay a:hover  {
    background: rgba(223, 22, 84, 0.6);
    color: #fff;
    border-color: rgba(104, 14, 41, 0.5);
    text-decoration: none;
}

#gallery .container .gallery-container .project-holder img {
    width: 100%;
    height: 100%;
}

#gallery h2 {
    text-transform: uppercase;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    word-spacing: 4px;
    margin-bottom: 30px
}

#cat {
    color: #e52677
}

#gallery h2:after {
    content: '';
    width: 50px;
    height: 5px;
    background: #cccddd;
    display: block;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #fff
}
footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #999;
    font-size: 14px;
    word-spacing: 2px;
    background: #222;
    position: relative;
    margin-top: 10px;
    bottom:0
}
footer:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;

    margin-left: -20px;
    top: -10px;
    left: 50%;
    background: #222;
    z-index: -1;
    border-radius: 50%
}

#follow {
    width: 100px;
    height: auto;
    position: fixed;
    top: 50%;
    right: -110px;
    text-align: center;
    text-decoration: none;
    transition: right 1s ease-in-out;
    color: #777;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e3e3e3;
    z-index: 99999;
}
#follow:after {
    content: '*';
    position: absolute;
    top: -10px;
    left: -8px;
    border-radius: 50%;
    background-color: #5ac4f5;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 35px;
    font-size: 35px;

}
#follow.show {right: 0; transition: right .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);transition-delay: 1.5s
    z-index: 99999;}
#follow h6 {
    margin: 0;

}
/* ==== image modal =======*/

#bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    box-shadow: 1px 1px 2px #ccc;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9999;
}


#bg-modal-content {
    max-height: 95vh;
    max-width: 768px;
    z-index: 10;

    overflow: hidden;

    position: relative
}
.body-overflow {
    overflow: hidden
}

.modal-status {
    -webkit-transform: scale(0, 0);
    transform: scale(0,0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.bg-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    z-index: 5
}

.modal-open {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    tranistion: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55)
}

#bg-modal #bg-modal-content .bg-img,
#bg-modal #bg-modal-content .bg-img-alt {
    width: 100%;
    max-width: 768px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background: #fff;
    border: 4px solid #fff;
    border-radius: 5px;
}
#bg-modal #bg-modal-content .bg-img-alt{
    height: 50vh;
    min-width: 40vw;
}
.hide {
    display: none
}

#bg-modal #bg-modal-content .bg-img img {
    width: 100%;
    height: auto
}

#bg-modal #bg-modal-content .modal-details {
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    display: table;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(0,0,0,.65);
    border: 1px solid rgba(255,255,255,.1);
    color: #eee;
    text-align: center
}

.modal-details hr {
    opacity: 0.3
}

#bg-modal #bg-modal-content .modal-details h2 {
    font-size: 1.6vw
}

#bg-modal #bg-modal-content .modal-details p {
    font-size: 1.4vw
}

#bg-modal #bg-modal-content .close {
    position: absolute;

    top: 0px;
    left: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer
}
#bg-modal #bg-modal-content .close:hover {
    color: #fb1b67
}

.modal-details .buttons {}

.modal-details .buttons button {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: none;
    background-color: #0ebeff;
    color: #eee;
    text-align: center;
    padding: 15px 0;
    cursor: pointer
}

.modal-details .buttons button:hover {
    background-color: #46cbfd;
    color: #fff
}

#spinner-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.spinner1 {
    width: 40px;
    height: 40px;
    background-color: #dedede;
    border-radius: 50%;
    position: relative;
    -webkit-animation: spin1 1.5s linear infinite;
    animation: spin1 1s linear infinite;
    /*    animation-direction: alternate*/
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*border: 1px solid #ccc;

  /*    border-right-color: aqua;*/
    /*    box-shadow: inset 0 0 4px 2px #999, 0 0 2px 2px #eee;*/
}

.spinner1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #525252;
    top: 0;
    width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -15px;
    box-shadow: inset 1px 1px #eee;
    -webkit-transform-origin: bottom;
    transform-origin: bottom
}

@-webkit-keyframes spin1 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin1 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


@media (max-width: 454px) {
    #gallery .container .gallery-container .project-holder {
        width: 90%
    }
}
@media (max-width:450px){ul{font-size:.6rem;}
footer{font-size: .55rem}}
