body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: 'source sans pro'
}

header {
    background: #03899c;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    height: 100px;
    line-height: 15px
}

header h1 {
    margin-bottom: 0;
    letter-spacing: 1px;
}

header p {
    color: #dedede
}

nav {
    padding: 10px 0;
    display: block;
    
    overflow: hidden;
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    background-color: #555;
    box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333
}
ul{margin: auto auto;display: table; padding:0}
ul:after {
    content: '';
}

ul li {
    list-style: none;
    float: left;
}

ul li a {
    text-decoration: none;
    color: #eee;
    padding: 10px 25px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

ul li a:hover {
    background: #444;
    border-radius: 5px;
    color: #fff;
}

ul li a:active,
ul li a.current {
    border-radius: 5px;
    background: #444;
    box-shadow: inset 1px 1px 1px #333
}

#gallery {
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    min-height: 450px
}

#gallery .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    
}

#gallery .container .gallery-container .project-holder {
    width: 23%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    float: left;
    background: #eee;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;

    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    position: relative;
    /* border-radius: 5px; */
    cursor: pointer;
}


#gallery .container .gallery-container .project-holder:hover img {
    transition: transform .2s ease-in-out;
    transform: scale(1.2);
    -o-transform: scale(1.2);
-moz-transform: scale(1.2);

-webkit-transform: scale(1.2)

}
#gallery .container .gallery-container .project-holder:hover .overlay {
    top: -10%
}

#gallery .container .gallery-container .project-holder:hover .overlay h3 {
    margin-top: 26px;
    margin-bottom: 20px
}

#gallery .container .gallery-container .project-holder .overlay {
    position: absolute;
    width: 100%;
    top: -110%;
    -webkit-transition: top .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: top .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    left: 0;
    /* border-radius: 5px; */
    font-size: .8rem;
    height: 110%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    background: linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%),linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%);
    background-color: rgba(234, 35, 96, 0.7);
    background-size: 40% 40%;
    background-position:-5% 0% , 105% 0%, -5% 100%, 105% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.overlay h3 {
    -webkit-transition: margin-top .25s ease-in .35s;
    transition: margin-top .25s ease-in .35s;
    margin-top: 60px;
    letter-spacing: 1px
}
.overlay h4 {
    color: #eee
}
.overlay button,.overlay a {
    background: rgba(255, 255, 255, 0.7) ;
    border-top: 1px solid rgba(205, 17, 75, .6);
    position: absolute;
    bottom: 0;
    color: rgb(202, 13, 71);
    cursor: pointer;
    transition: background .2s linear;
    text-decoration: none;
    width: 50%;
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
}
.overlay a:nth-of-type(1) {
left:0;
border-right: 1px solid rgba(205, 17, 75, .6);
}
.overlay a:nth-of-type(2) {
right:0;
}
.overlay button:hover,.overlay a:hover  {
    background: rgb(223, 22, 84);
    color: #fff;
    text-decoration: none
}

#gallery .container .gallery-container .project-holder img {
    width: 100%;
    height: 100%;
}

#gallery h2 {
    text-transform: uppercase;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    word-spacing: 4px;
    margin-bottom: 30px
}

#cat {
    color: #e52677
}

#gallery h2:after {
    content: '';
    width: 50px;
    height: 5px;
    background: #cccddd;
    display: block;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #fff
}
footer {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    word-spacing: 2px;
    background: #222;
    position: relative;
    margin-top: 10px;
    bottom:0
}
footer:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;

    margin-left: -20px;
    top: -15px;
    left: 50%;
    background: #222;
    z-index: -1;
    border-radius: 50%
}
@media (max-width: 768px) {
    #gallery .container .gallery-container .project-holder {
        width: 90%
    }
}
@media (max-width:450px){ul{font-size:.6rem;}
footer{font-size: .55rem}}
