body {
    background: #eee;
    margin: 0;
    padding: 0;
    font-family: 'source sans pro'
}

header {
    background: #03899c;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    height: 100px;
    line-height: 15px
}

header h1 {
    margin-bottom: 0;
    letter-spacing: 1px;
}

header p {
    color: #dedede
}

nav {
    padding: 10px 0;
    display: block;
    
    overflow: hidden;
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    background-color: #555;
    box-shadow: inset 1px 1px 1px #333, inset -1px -1px 1px #333
}
ul{margin: auto auto;display: table; padding:0}
ul:after {
    content: '';
}

ul li {
    list-style: none;
    float: left;
}

ul li a {
    text-decoration: none;
    color: #eee;
    padding: 10px 25px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

ul li a:hover {
    background: #444;
    border-radius: 5px;
    color: #fff;
}

ul li a:active,
ul li a.current {
    border-radius: 5px;
    background: #444;
    box-shadow: inset 1px 1px 1px #333
}

#gallery {
    background: -webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%), -webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50%);
    background-size: 14px 14px;
    background-repeat: repeat;
    min-height: 450px
}

#gallery .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    
}

#gallery .container .gallery-container .project-holder {
    width: 23%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    float: left;
    background: #eee;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 5px;
    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    position: relative;
    /* border-radius: 5px; */
    cursor: pointer;
}


#gallery .container .gallery-container .project-holder:hover img {
    transition: transform .5s ease-in-out;
    transform: scale(1.2);
    -o-transform: scale(1.2);
-moz-transform: scale(1.2);

-webkit-transform: scale(1.2)

}
#gallery .container .gallery-container .project-holder:hover .overlay {
    top: -10%
}

#gallery .container .gallery-container .project-holder:hover .overlay h3 {
    margin-top: 26px;
    margin-bottom: 20px
}

#gallery .container .gallery-container .project-holder .overlay {
    position: absolute;
    width: 100%;
    top: -110%;
    -webkit-transition: top .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: top .6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    left: 0;
    /* border-radius: 5px; */
    font-size: .8rem;
    height: 110%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    background: linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%),linear-gradient(-45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%), linear-gradient(45deg, transparent, transparent 49%, rgba(226, 226, 226, 0.2) 49%, rgba(226, 226, 226, 0.2) 50%, transparent 50%);
    background-color: rgba(28, 26, 31, 0.6);
    background-size: 40% 40%;
    background-position:-5% 0% , 105% 0%, -5% 100%, 105% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

.overlay h3 {
    -webkit-transition: margin-top .25s ease-in .35s;
    transition: margin-top .25s ease-in .35s;
    margin-top: 60px;
    letter-spacing: 1px
}
.overlay h4 {
    color: #eee
}
.overlay button,.overlay a {
    /*background: rgba(255, 255, 255, 0.7) ;*/
    border: 1px solid #222;
    border-radius: 15px;
    background-color: rgba(34, 34, 34, 0.62);
    position: absolute;
    color: #eee;
    cursor: pointer;
    display: block;
    transition: background .25s ease;
    text-decoration: none;
    width: 105px;
    box-sizing: border-box;
    height: 35px;
    line-height: 25px;
    padding: 5px 10px;
}
.overlay a:nth-of-type(1) {
    left: calc(50% - 50px);
    bottom: calc(60% - 25px);

}
.overlay a:nth-of-type(2) {
    left: calc(50% - 50px);
    bottom: calc(40% - 30px);
}
.overlay button:hover,.overlay a:hover  {
    background: rgba(223, 22, 84, 0.6);
    color: #fff;
    border-color: rgba(104, 14, 41, 0.5);
    text-decoration: none;
}

#gallery .container .gallery-container .project-holder img {
    width: 100%;
    height: 100%;
}

#gallery h2 {
    text-transform: uppercase;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    word-spacing: 4px;
    margin-bottom: 30px
}

#cat {
    color: #e52677
}

#gallery h2:after {
    content: '';
    width: 50px;
    height: 5px;
    background: #cccddd;
    display: block;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #fff
}
footer {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    word-spacing: 2px;
    background: #222;
    position: relative;
    margin-top: 10px;
    bottom:0
}
footer:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;

    margin-left: -20px;
    top: -15px;
    left: 50%;
    background: #222;
    z-index: -1;
    border-radius: 50%
}

#follow {
    width: 100px;
    height: auto;
    position: fixed;
    top: 50%;
    right: -110px;
    text-align: center;
    text-decoration: none;
    transition: right 1s ease-in-out;
    color: #777;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid #e3e3e3
}
#follow:after {
    content: '*';
    position: absolute;
    top: -10px;
    left: -8px;
    border-radius: 50%;
    background-color: #5ac4f5;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 35px;
    font-size: 35px;

}
#follow.show {right: 0; transition: right .8s cubic-bezier(0.68, -0.55, 0.27, 1.55);transition-delay: 1.5s}
#follow h6 {
    margin: 0;

}
/* ==== image modal =======*/

#bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    box-shadow: 1px 1px 2px #ccc;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55), -webkit-transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9999;
}


#bg-modal-content {
    max-height: 95vh;
    max-width: 768px;
    z-index: 10;

    overflow: hidden;

    position: relative
}
.body-overflow {
    overflow: hidden
}

.modal-status {
    -webkit-transform: scale(0, 0);
    transform: scale(0,0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.bg-modal-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    top: 0;
    left: 0;
    z-index: 5
}

.modal-open {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    tranistion: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55)
}

#bg-modal #bg-modal-content .bg-img,
#bg-modal #bg-modal-content .bg-img-alt {
    width: 100%;
    max-width: 768px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background: #fff;
    border: 4px solid #fff;
    border-radius: 5px;
}
#bg-modal #bg-modal-content .bg-img-alt{
    height: 50vh;
    min-width: 40vw;
}
.hide {
    display: none
}

#bg-modal #bg-modal-content .bg-img img {
    width: 100%;
    height: auto
}

#bg-modal #bg-modal-content .modal-details {
    width: auto;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    display: table;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(0,0,0,.65);
    border: 1px solid rgba(255,255,255,.1);
    color: #eee;
    text-align: center
}

.modal-details hr {
    opacity: 0.3
}

#bg-modal #bg-modal-content .modal-details h2 {
    font-size: 1.6vw
}

#bg-modal #bg-modal-content .modal-details p {
    font-size: 1.4vw
}

#bg-modal #bg-modal-content .close {
    position: absolute;

    top: 0px;
    left: 10px;
    color: #ccc;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer
}
#bg-modal #bg-modal-content .close:hover {
    color: #fb1b67
}

.modal-details .buttons {}

.modal-details .buttons button {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0 0;
    border: none;
    background-color: #0ebeff;
    color: #eee;
    text-align: center;
    padding: 15px 0;
    cursor: pointer
}

.modal-details .buttons button:hover {
    background-color: #46cbfd;
    color: #fff
}

#spinner-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.spinner1 {
    width: 40px;
    height: 40px;
    background-color: #dedede;
    border-radius: 50%;
    position: relative;
    -webkit-animation: spin1 1.5s linear infinite;
    animation: spin1 1s linear infinite;
    /*    animation-direction: alternate*/
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    /*border: 1px solid #ccc;

  /*    border-right-color: aqua;*/
    /*    box-shadow: inset 0 0 4px 2px #999, 0 0 2px 2px #eee;*/
}

.spinner1:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #525252;
    top: 0;
    width: 15px;
    height: 15px;
    left: 50%;
    margin-left: -15px;
    box-shadow: inset 1px 1px #eee;
    -webkit-transform-origin: bottom;
    transform-origin: bottom
}

@-webkit-keyframes spin1 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin1 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


@media (max-width: 768px) {
    #gallery .container .gallery-container .project-holder {
        width: 90%
    }
}
@media (max-width:450px){ul{font-size:.6rem;}
footer{font-size: .55rem}}
