body {
    background: #eee;
    margin: 0;padding:0;
    font-family: 'source sans pro'
}
header {
    background: #03899c;
    color: #fff;
    text-align:center;
    padding: 15px 0;
    height: 100px;
    line-height: 15px
}
header h1 {
    margin-bottom: 0;
    letter-spacing: 1px;
}
header p {
    color: #dedede
}
ul {
    padding:10px 0 10px 35% ;
    display: block;
    margin:auto auto;
    overflow: hidden;
    background:-webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50% ),-webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50% );
    background-size: 14px 14px;
    background-repeat: repeat;
    background-color: #555;
    box-shadow: inset 1px 1px 1px #333,inset -1px -1px 1px #333
    
}
ul:after {
    content: '';
    
}
ul li {
    list-style: none;
    float: left;
    
}
ul li a {
    text-decoration: none;
    color: #eee;
    padding: 10px 25px;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
ul li a:hover {
    background: #444;
    border-radius: 5px;
    color: #fff;
}
ul li a:active,ul li a.current {
    border-radius: 5px;
    background: #444;
    box-shadow: inset 1px 1px 1px #333
}
#gallery {
        background:-webkit-linear-gradient(45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50% ),-webkit-linear-gradient(-45deg, transparent, transparent 49%, rgba(26, 26, 26, 0.02) 49%, rgba(26, 26, 26, 0.02) 50%, transparent 50% );
    background-size: 14px 14px;
    background-repeat: repeat;

}
#gallery .container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0
}
#gallery .container .gallery-container .project-holder {
    width: 23%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    border:1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
    float: left;
    box-sizing: border-box;
    -webkit-transition: all .2s linear;
    transition: all .3s linear;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer
}
#gallery .container .gallery-container .project-holder:hover {
    box-shadow: 0 23px 9px -15px #ccc;
    transform:translateY(-5px)
}
#gallery .container .gallery-container .project-holder:hover .overlay {
    top:0
}
#gallery .container .gallery-container .project-holder:hover .overlay h3{
    margin-top:15px
}
#gallery .container .gallery-container .project-holder .overlay {
    position: absolute;
    width: 100%;
    top:-100%;
    -webkit-transition: top .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: top .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    left:0;
    border-radius: 5px;
    font-size: .8rem;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align:center;
    background-color: rgba(234, 35, 96, 0.95);
    color: #fff
}
.overlay h3 {
    -webkit-transition: margin-top .25s ease-in .3s;
    transition: margin-top .25s ease-in .3s;
    margin-top: 60px
}
.overlay button {
    border: 1px solid #eee;
    padding: 5px 8px;
    background: rgba(255, 255, 255, .8);
    color: #555;
    cursor: pointer;
    transition: background .2s linear;
    border-radius: 3px 
}
.overlay button:hover {
    background: #fff;
    color: #333
}
#gallery .container .gallery-container .project-holder img {
    width: 100%;
    height: auto;
}
#gallery h2 {
    text-transform: uppercase;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
    word-spacing: 4px;
    margin-bottom: 30px
}
#cat {
    color: #e52677
}
#gallery h2:after {
    content: '';
    width: 50px;
    height: 5px;
    background: #cccddd;
    display: block;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #fff
}
